.page {
  &__service-services {
  }
}
.service-services {
  &__wrapper {
    padding: 20px 0 80px;
    border-top: 4px solid rgba(255, 255, 255, 0.5);
    max-width: 1090px;
    margin: 0 auto;
    @media (max-width: 1140px) {
      margin: 0 40px 0 50px;
    }
    @media (max-width: 991.98px) {
      margin: 0;
      padding: 20px 0 60px;
    }
    @media (max-width: 767.98px) {
      padding: 20px 0 40px;
    }
    @media (max-width: 479.98px) {
      padding: 20px 0 20px;
    }
  }

  &__title {
    @extend %ttnormsMedium;
    font-size: 24px;
    line-height: calc(28px / 24px * 100%);
    color: $white;
    margin-bottom: 20px;
    @media (max-width: 767.98px) {
      font-size: 21px;
    }
    @media (max-width: 479.98px) {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  &__lists {
    display: flex;
    margin: 0 -25px;
    @media (max-width: 767.98px) {
      flex-direction: column;
      margin: 0;
    }
  }

  &__list {
    flex: 0 1 50%;
    padding-left: 25px;
    margin: 0 21px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    @media (max-width: 767.98px) {
      margin: 0;
    }
  }

  &__item {
    list-style: outside;
    color: $accent;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__text {
    @extend %ttnormsRegular;
    line-height: calc(26px / 18px * 100%);
    color: $white;
  }
}
